<div class="row">

  <nav class= "navbar navbar-default" role= "navigation" >
    <div class= "navbar-header" >
      <a class="btn btn-lg btn-success" href="quests/add">
        <i class="glyphicon glyphicon-plus"></i>&nbsp;Add new Quest
      </a>
    </div>
  </nav>
  
  <div class="col-md-12" data-ng-show="quests.length > 0">
    <table class="table table-striped table-bordered">
      <thead>
        <th>Name&nbsp;</th>
        <th>Phone&nbsp;</th>
        <th>Description&nbsp;</th>
        <th>Modified&nbsp;</th>
      </thead>
      <tbody>
        <tr ng-repeat="data in quests">
          <td>{{data.name}}</td>
          <td>{{data.phone}}</td>
          <td>{{data.description}}</td>
          <td>{{data.modified}}</td>
          <td><a href="quests/edit:{{data._id}}" class="btn">&nbsp;<i class="glyphicon glyphicon-edit"></i>&nbsp; Edit Quest</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-12" data-ng-show="quests.length == 0">
    <div class="col-md-12">
      <h4>No quests found</h4>
    </div>
  </div>
</div>
